{% extends 'base/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
            <div style="padding-top: 15px;">
            <input class="button" type="submit" value="Login">
            <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
        
    </form>

    <hr>
    <p class='small'>Dont have an account? <a style="margin-left:5px;" href="{% url 'register' %}">Register</a></p>
    
</div>
{% endblock content %}

